.downloads_container {
	width: 100%;
	min-width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0px;
}
.downloads_header {
	height: 70px;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(255,255,255,.6);
	z-index: 1;
}
.downloads_header_nav {
	width: 96%;
	height: 100%;
	margin: auto;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: space-between;
}
.downloads_title {
	width: 200px;
	height: 100%;
}
.downloads_title img {
	margin: 15px auto;
}
.downloads_menu {
	min-width: 500px;
	height: 100%;
	color: rgba(51,51,51,.75);
	font-size: 16px;
	display: flex;
	display: -webkit-flex;
	justify-content: flex-end;
	align-items: center;
}
.downloads_menu span {
	margin-left: 30px;
}
.downloads_menu span:hover {
	color: #84D2A2;
	cursor: pointer;
}

.downloads_container .slick-list {
	width: 100%;
}
.downloads_container .ant-carousel .slick-slide {
  text-align: center;
  height: 800px;
  line-height: 800px;
  background: #364d79;
  overflow: hidden;
}

.downloads_first {
	width: 100%;
	height: 800px;
	background-color: #FEDA89;
}
.downloads_carousel_container {
	width: 960px;
	height: 800px;
	display: inline-flex;
	margin: 0px auto;
}
.downloads_main_left {
	width: 50%;
	height: 800px;
	padding: 120px 30px;
}
.downloads_iphone {
	margin-left: 45px;
	margin-top: -200px;
	height: 505px;
	width: 271px;
	background: url(../../images/downloads/ph1.png);
	position: relative;
	opacity: 0;
	z-index: 1
}
.downloads_iphone_animation {
	margin-left: 45px;
	margin-top: -200px;
	height: 505px;
	width: 271px;
	background: url(../../images/downloads/ph1.png);
	position: relative;
	animation: downloads_vertical 2s infinite;
	-webkit-animation: downloads_vertical 2s infinite;
	animation-iteration-count:1;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	z-index: 1
}
.downloads_circle {
	width: 347px;
	height: 190px;
	margin-top: -90px;
	background: url(../../images/downloads/cl.png);
	position: relative;
	z-index: 2;
}
.downloads_wheel01,.downloads_wheel02,.downloads_wheel03,.downloads_wheel04 {
	animation: downloads-wheel infinite 2s linear;
	background-repeat: no-repeat;
}
.downloads_wheel01 {
	width: 170px;
	height: 170px;
	background: url(../../images/downloads/wheel-1.png);
	margin-top: -280px;
	margin-left: -50px;
}
.downloads_wheel02 {
	width: 65px;
	height: 65px;
	background: url(../../images/downloads/wheel-2.png);
	margin-top: -150px;
	margin-left: 320px;
}
.downloads_wheel03 {
	width: 70px;
	height: 70px;
	background: url(../../images/downloads/wheel-3.png);
	margin-left: 270px;
	margin-top: 250px;
}
.downloads_wheel04 {
	width: 96px;
	height: 96px;
	background: url(../../images/downloads/wheel-4.png);
	margin-left: 280px;
	margin-top: -140px;	

}

.downloads_second {
	width: 100%;
	height: 800px;
	background-color: #DE4F50 ;
}
.downloads_cloud {
	width: 586px;
	height: 156px;
	margin-left: 100px;
	background-image: url(../../images/downloads/cloud.png);
	background-repeat: no-repeat;
	position: relative;

}
.downloads_cloud_animation{
	width: 586px;
	height: 156px;
	margin-left: 100px;
	background-image: url(../../images/downloads/cloud.png);
	background-repeat: no-repeat;
	position: relative;
	animation: downloads-cloud 2s ease-in;
	-webkit-animation: downloads-cloud 2s ease-in;
	animation-iteration-count:1;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
.downloads_map {
	width: 412px;
	height: 259px;
	margin-top: 60px;
	background-image: url(../../images/downloads/map.png);
	background-repeat: no-repeat;
}

.downloads_nail {
	width: 160px;
	height: 193px;
	margin-top: -560px;
	margin-left: 120px;
	background-image: url(../../images/downloads/nail.png);
	background-repeat: no-repeat;
	opacity: 0;
	position: relative;
}
.downloads_nail_animation {
	width: 160px;
	height: 193px;
	margin-top: -560px;
	margin-left: 120px;
	background-image: url(../../images/downloads/nail.png);
	background-repeat: no-repeat;
	opacity: 0;
	position: relative;
	animation: downloads_vertical 2s infinite;
	-webkit-animation: downloads_vertical 2s infinite;
	animation-iteration-count:1;
	-webkit-animation-interation-count: 1;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;	
}

.downloads_third {
	width: 100%;
	height: 800px;
	background-color: #904A68;
}

.downloads_phonelay {
	width: 559px;
	height: 116px;
	margin-top: 360px;
	background-image: url(../../images/downloads/v-phone.png);
	background-repeat: no-repeat;
}
.downloads_shop {
	width: 344px;
	height: 284px;
	margin-top: -550px;
	margin-left: 108px;
	background-image: url(../../images/downloads/shop.png);
	background-repeat: no-repeat;
	position: relative;
	opacity: 0;
}
.downloads_shop_animation {
	width: 344px;
	height: 284px;
	margin-top: -550px;
	margin-left: 108px;
	background-image: url(../../images/downloads/shop.png);
	background-repeat: no-repeat;
	position: relative;
	opacity: 0;
	animation: downloads_vertical 2s;
	-webkit-animation: downloads_vertical 2s;
	animation-iteration-count:1;
	-webkit-animation-interation-count: 1;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;	
}
.downloads_fun {
	width: 304px;
	height: 138px;
	margin-top: -40px;
	margin-left: 128px;
	background-image: url(../../images/downloads/fun.png);
	background-repeat: no-repeat;
	opacity: 0;
	position: relative;
}
.downloads_fun_animation {
	width: 304px;
	height: 138px;
	margin-top: -40px;
	margin-left: 128px;
	background-image: url(../../images/downloads/fun.png);
	background-repeat: no-repeat;
	opacity: 0;
	position: relative;
	animation: downloads_vertical_bottom 2s;
	-webkit-animation: downloads_vertical_bottom 2s;
	animation-delay:1s;
	-webkit-animation-delay:1s;
	animation-iteration-count:1;
	-webkit-animation-interation-count: 1;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;	
}

.downloads_fourth {
	width: 100%;
	height: 800px;
	background-color: #68C39F;
}

.downloads_phoneopen {
	width: 200px;
	height: 277px;
	margin-left: 120px;
	margin-top: 200px;
	background-image: url(../../images/downloads/phone_2.png);
	background-repeat: no-repeat;
	position: relative;
	z-index: 2;
}
.downloads_phoneclose {
	width: 220px;
	height: 105px;
	margin-left: 109px;
	margin-top: -382px;
	background-image: url(../../images/downloads/phone_1.png);
	background-repeat: no-repeat;	
	transform-origin:93% 100%; 
	position: relative;
}
.downloads_phoneclose_animation {
	width: 220px;
	height: 105px;
	margin-left: 109px;
	margin-top: -382px;
	background-image: url(../../images/downloads/phone_1.png);
	background-repeat: no-repeat;	
	transform-origin:93% 100%; 
	position: relative;
	animation: downloads-phone 2s;
	-webkit-animation: downloads-phone 2s;
	animation-iteration-count:1;
	-webkit-animation-interation-count: 1;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
.downloads_giftleft {
	width: 117px;
	height: 185px;
	margin-left: 150px;
	margin-top: 90px;
	position: relative;
	z-index: 1;
	background-image: url(../../images/downloads/gift_1.png);
	background-repeat: no-repeat;
}
.downloads_giftleft_animation {
	width: 117px;
	height: 185px;
	margin-left: 150px;
	margin-top: 90px;
	position: relative;
	z-index: 1;
	background-image: url(../../images/downloads/gift_1.png);
	background-repeat: no-repeat;
	animation: downloads-gift-toleft 2s;
	-webkit-animation: downloads-gift-toleft 2s;
	animation-iteration-count:1;
	-webkit-animation-interation-count: 1;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;	
	animation-direction:alternate;
	-webkit-animation-direction:alternate;
}
.downloads_giftright {
	width: 103px;
	height: 126px;
	margin-left: 170px;
	margin-top: -126px;
	background-image: url(../../images/downloads/gift_2.png);
	background-repeat: no-repeat;
	position: relative;
}
.downloads_giftright_animation {
	width: 103px;
	height: 126px;
	margin-left: 170px;
	margin-top: -126px;
	background-image: url(../../images/downloads/gift_2.png);
	background-repeat: no-repeat;
	position: relative;
	animation: downloads-gift-toright 2s;
	-webkit-animation: downloads-gift-toright 2s;
	animation-iteration-count:1;
	-webkit-animation-interation-count: 1;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
.downloads_ballon {
	width: 229px;
	height: 445px;
	margin-left: 65px;
	margin-top: -350px;
	background-image: url(../../images/downloads/ballon.png);
	background-repeat: no-repeat;
	z-index: 3;	
	opacity: 0;
	position: relative;
}
.downloads_ballon_animation {
	width: 229px;
	height: 445px;
	margin-left: 65px;
	margin-top: -350px;
	background-image: url(../../images/downloads/ballon.png);
	background-repeat: no-repeat;
	z-index: 3;	
	opacity: 0;
	position: relative;
	animation: downloads_vertical_bottom 2s;
	-webkit-animation: downloads_vertical_bottom 2s;
	animation-iteration-count:1;
	-webkit-animation-interation-count: 1;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
@keyframes downloads-wheel {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes downloads_vertical {
	from {top: 0px;opacity: 0;}
	to {top: 200px;opacity: 1;}
}
@keyframes downloads_vertical_bottom {
	from {bottom: 0px;}
	to {bottom: 200px;opacity: 1;}	
}
@keyframes downloads-cloud {
	from {right: 0px;}
	to {right: 200px;}
}
@keyframes downloads-phone {
  from { transform: rotate(0deg); }
  to { transform: rotate(20deg); }
}
@keyframes downloads-gift-toleft {
	from {right: 0px;}
	to {right: 155px;}
}
@keyframes downloads-gift-toright {
	from {left: 0px;}
	to {left: 155px;}
}
.downloads_qrcode {
	position: fixed;
	height: 300px;
	width: 300px;
	margin: 300px 60%;
	background-image: url(../../images/downloads/qr-bg_v2.png);
	background-repeat: no-repeat;
}
.downloads_qrcode img{
	margin: 22px 46px;
}
.downloads_qrcode button {
	margin-top: 35px;
	margin-left: 28px;
	font-size: 20px;
	font-family: sans-serif;
	height: 56px;
	min-width: 160px;
	border-radius: 28px;
}
.download_attention {
	position: fixed;
	top: 85px;
	right: 2%;
	height: 80px;
	line-height: 80px;
	text-align: center;
	width: 434px;
	color: rgba(51,51,51,.75);
	background-color: rgba(255,255,255,.5);
}
.attention_close {
	position: relative;
	font-size: 18px;
	top: -20px;
	left: 20px;
}
.attention_close:hover {
	color: #FB5900;
}